/*https://www.google.es/maps/@40.1350478,59.7712023,875126m/data=!3m1!1e3*/  

.cita {
 background-color: red;
}
        .regular{
            background-color: red;
        }
.hidden-text{
    background-color: yellow;
}